<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/styleOfCursor.css">
    
   </head>
<body>
    <div id="overlay"></div>
<div id="blob"></div>
<h1>Express</h1>

<!-- font style  -->
<link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&display=swap" rel="stylesheet">

<script src="../javascript/javascriptOfCursor.js"></script>
</body>
</html>