<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/styleOfIndex.css">
</head>
<body>
    <div class="flex ">
    <div class="tilt">
    <div class="card bg center" style="--color:#e69d00;--url:url('https://w0.peakpx.com/wallpaper/787/684/HD-wallpaper-video-game-genshin-impact-liyue-genshin-impact.jpg');">
    <img src="https://mystickermania.com/cdn/stickers/genshin-impact/genshin-impact-geo-512x512.png">
        
    </div>
    </div>
    <div class="tilt">
    <div class="card bg center" style="--color:#7DF9FF;--url:url('https://webstatic.hoyoverse.com/upload/uploadstatic/contentweb/20191028/2019102811522476460.jpg');">
    <img src="https://mystickermania.com/cdn/stickers/genshin-impact/genshin-impact-anemo-512x512.png">
    
    </div>
        
        </div>
        <div class="tilt">
    <div class="card bg center" style="--color:#9bc744;--url:url('https://cdn2.unrealengine.com/image-1-3840x2160-6fb63d0b460b.jpg');">
    <img src="https://mystickermania.com/cdn/stickers/genshin-impact/genshin-impact-dendro-512x512.png">
        
    </div>
        </div>
        <div class="tilt">
    <div class="card bg center" style="--color:#da70d6;--url:url('https://cdn2.unrealengine.com/genshin-impact-landscape-3840x2160-dbfecd33a0cc.jpg');">
    <img src="https://mystickermania.com/cdn/stickers/genshin-impact/genshin-impact-electro-512x512.png">
        
    </div>
    </div>
    </div>
  <script src="../javascript/javascriptOfIndex.js">
  </script>
</body>
</html>
